.hrCustom {
    max-width: 100%;
    margin-top: 5%;
    border: 1px solid white;
    opacity: 1;
}

.icon {
    transition: all .35s ease;
    transform: scale(1);
}

.icon:hover {
    transform: scale(.9);
    filter: grayscale(100%) contrast(120%);
}

.footerTitle {
    color: white;
    line-height: 3rem;
    text-align: center;
}

.footerLinks, .footerAbout {
    color: white;
}

.footerLinks h5, .footerAbout h5 {
    text-align: center;
}
