#root {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
          "slnt" 0,
          "CRSV" 0.5,
          "SHRP" 19;
}

.font {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
          "slnt" 0,
          "CRSV" 0.5,
          "SHRP" 19;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-text {
  position: absolute;
  top: 80%;
  left: 50%;
  /*bottom: 100%;*/
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
}

